<a href="https://colab.research.google.com/github/zihvvan/Python/blob/main/submission/zihvvan/ch04_02_%EB%B3%B5%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 2.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 6.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 35.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 111.2/111.2 KB 9.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 14.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 10.5 MB/s eta 0:00:00

In [ ]:
import yfinance as yf

history = yf.Ticker("TSLA").history()
len(history)

19

In [ ]:
history = yf.Ticker("TSLA").history(start="2023-01-08", end="2023-02-08")
history

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-09 00:00:00-05:00,118.959999,123.519997,117.110001,119.769997,190284000,0.0,0.0
2023-01-10 00:00:00-05:00,121.070000,122.760002,114.919998,118.849998,167642500,0.0,0.0
2023-01-11 00:00:00-05:00,122.089996,125.949997,120.510002,123.220001,183810800,0.0,0.0
2023-01-12 00:00:00-05:00,122.559998,124.129997,117.000000,123.559998,169400900,0.0,0.0
2023-01-13 00:00:00-05:00,116.550003,122.629997,115.599998,122.400002,180439300,0.0,0.0
2023-01-17 00:00:00-05:00,125.699997,131.699997,125.019997,131.490005,186477000,0.0,0.0
2023-01-18 00:00:00-05:00,136.559998,136.679993,127.010002,128.779999,195680300,0.0,0.0
2023-01-19 00:00:00-05:00,127.260002,129.990005,124.309998,127.169998,170291900,0.0,0.0
2023-01-20 00:00:00-05:00,128.679993,133.509995,127.349998,133.419998,138429900,0.0,0.0
2023-01-23 00:00:00-05:00,135.869995,145.380005,134.270004,143.750000,203119200,0.0,0.0
2023-01-24 00:00:00-05:00,143.000000,146.500000,141.100006,143.889999,158699100,0.0,0.0
2023-01-25 00:00:00-05:00,141.910004,146.410004,138.070007,144.429993,192734300,0.0,0.0
2023-01-26 00:00:00-05:00,159.970001,161.419998,154.759995,160.270004,234815100,0.0,0.0
2023-01-27 00:00:00-05:00,162.429993,180.679993,161.169998,177.899994,305632100,0.0,0.0
2023-01-30 00:00:00-05:00,178.050003,179.770004,166.500000,166.660004,230878800,0.0,0.0
2023-01-31 00:00:00-05:00,164.570007,174.300003,162.779999,173.220001,196813500,0.0,0.0
2023-02-01 00:00:00-05:00,173.889999,183.809998,169.929993,181.410004,213806300,0.0,0.0
2023-02-02 00:00:00-05:00,187.330002,196.750000,182.610001,188.270004,217448300,0.0,0.0
2023-02-03 00:00:00-05:00,183.949997,199.000000,183.690002,189.979996,231684200,0.0,0.0
2023-02-06 00:00:00-05:00,193.009995,198.169998,189.919998,194.759995,186188100,0.0,0.0
2023-02-07 00:00:00-05:00,196.429993,197.500000,189.550003,196.809998,186010300,0.0,0.0

In [ ]:
from datetime import datetime # datetime 패키지의 datetime 클래스

datetime(2023, 3, 8)

datetime.datetime(2023, 3, 8, 0, 0)

In [ ]:
datetime.now()

datetime.datetime(2023, 3, 8, 3, 6, 45, 940578)

In [ ]:
import pytz

kst = pytz.timezone("Asia/Seoul")
kst

In [ ]:
datetime.now(kst) # now = today

datetime.datetime(2023, 3, 8, 12, 8, 12, 254623, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [ ]:
end_date = datetime.now().strftime('%Y-%m-%d')
print(end_date)
history = yf.Ticker("TSLA").history(start="2023-01-08", end=end_date)
history.head()

2023-03-08

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-09 00:00:00-05:00,118.959999,123.519997,117.110001,119.769997,190284000,0.0,0.0
2023-01-10 00:00:00-05:00,121.070000,122.760002,114.919998,118.849998,167642500,0.0,0.0
2023-01-11 00:00:00-05:00,122.089996,125.949997,120.510002,123.220001,183810800,0.0,0.0
2023-01-12 00:00:00-05:00,122.559998,124.129997,117.000000,123.559998,169400900,0.0,0.0
2023-01-13 00:00:00-05:00,116.550003,122.629997,115.599998,122.400002,180439300,0.0,0.0

In [ ]:
history.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-01 00:00:00-05:00,206.210007,207.199997,198.520004,202.770004,156852800,0.0,0.0
2023-03-02 00:00:00-05:00,186.740005,193.750000,186.009995,190.899994,181500700,0.0,0.0
2023-03-03 00:00:00-05:00,194.800003,200.479996,192.880005,197.789993,153800400,0.0,0.0
2023-03-06 00:00:00-05:00,198.539993,198.600006,192.300003,193.809998,127800600,0.0,0.0
2023-03-07 00:00:00-05:00,191.380005,194.199997,186.100006,187.710007,148125790,0.0,0.0

In [ ]:
from dateutil.relativedelta import relativedelta

start_date = datetime.now() - relativedelta(months=3)
history = yf.Ticker("TSLA").history(start=start_date)
history.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-12-08 00:00:00-05:00,172.199997,175.199997,169.059998,173.440002,97624500,0.0,0.0
2022-12-09 00:00:00-05:00,173.839996,182.500000,173.360001,179.050003,104872300,0.0,0.0
2022-12-12 00:00:00-05:00,176.100006,177.369995,167.520004,167.820007,109794500,0.0,0.0
2022-12-13 00:00:00-05:00,174.869995,175.050003,156.910004,160.949997,175862700,0.0,0.0
2022-12-14 00:00:00-05:00,159.250000,161.619995,155.309998,156.800003,140682300,0.0,0.0

In [ ]:
before_month = lambda x: datetime.now() - relativedelta(months=x)
before_month(3)
stock_before_month = lambda x, y: yf.Ticker(x).history(start=before_month(y))
stock_before_month("AAPL", 6)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-08 00:00:00-04:00,154.148537,155.863072,152.194759,153.969116,84923800,0.0,0.0
2022-09-09 00:00:00-04:00,154.975902,157.318440,154.258189,156.869858,68028800,0.0,0.0
2022-09-12 00:00:00-04:00,159.082806,163.737963,158.793735,162.910599,104956000,0.0,0.0
2022-09-13 00:00:00-04:00,159.391812,160.029778,152.882567,153.351074,122656600,0.0,0.0
2022-09-14 00:00:00-04:00,154.298055,156.600726,153.121812,154.816406,87965400,0.0,0.0
...,...,...,...,...,...,...,...
2023-03-01 00:00:00-05:00,146.830002,147.229996,145.009995,145.309998,55479000,0.0,0.0
2023-03-02 00:00:00-05:00,144.380005,146.710007,143.899994,145.910004,52238100,0.0,0.0
2023-03-03 00:00:00-05:00,148.039993,151.110001,147.330002,151.029999,70668500,0.0,0.0
2023-03-06 00:00:00-05:00,153.789993,156.300003,153.460007,153.830002,87410100,0.0,0.0
2023-03-07 00:00:00-05:00,153.699997,154.029907,151.130005,151.600006,56097579,0.0,0.0